*{
    text-align: center;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

  body{
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
}
.obrigatorio{
    color: red;
}

input{
    height: 25px;
    border-radius: 5px;
}
.cadastro{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;

}

span.info{
    color: #6b6b6b;
    padding: -50px;
}

.cpf{
    margin: 20px;
    
}

.cpf >input{
    margin: 20px;
}
.nomeC{
    width: 240px;
    
}
.btn{
    font-size: 18px;
    color: white;
    background-color: red;
    width: 170px;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
}

.btn:hover{
    zoom: 105%;
}

input[type='text']{
    width: 250px;
    height: 35px;
}

input[type='email']{
    background-image: url(icons/icons8-mail-64.png);
    background-repeat: no-repeat;
    background-size: 8%;
    width: 250px;
    
    background-position: right -2px;
    height: 35px;
}

input[type='password']{
    background-size: 11%;
    background-image: url(icons/icons8-privacidade-48.png);
    background-repeat: no-repeat;
    background-position: 0px center;
}

input[type='tel']{
    background-image: url(icons/icons8-telefone-30.png);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 0px center;
}